/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define RAISE 1
#define FUNCTION 2

&mt {
  tapping-term-ms = <200>;
};

&lt {
  tapping-term-ms = <200>;
};

/* Combos */
/* Don't really need any, I think
/ {
  combos {
    compatible = "zmk, combos";

  }

}
*/

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
/* QWERTY
 *
 * ,-------------------------------------.                      ,-------------------------------------.
 * |    Q    |   W  |   E  |   R  |   T  |                      |   Y  |   U  |   I  |   O  |   P     |
 * |---------+------+------+------+------|                      |------+------+------+------+---------|
 * |    A    |   S  |   D  |   F  |   G  |                      |   H  |   J  |   K  |   L  |   '     |
 * |---------+------+------+------+------|  ,-----.     ,----.  |------+------+------+------+---------|
 * | Shift,Z |   X  |   C  |   V  |   B  |  |paste|     |copy|  |   N  |   M  |   ,  |   .  | Shift,/ |
 * `-------------------------------------'  `-----'     `----'  `-------------------------------------'
 *         ,------.   ,------------------------.          ,----------------------------.   ,------. 
 *         | none |   | CMD |  L2/SPACE  | TAB |          | CTRL/ENTER | L1/BSPC | ALT |   | none |	
 *         `------'   `------------------------'          `----------------------------'   `------'
 */
			bindings = <
	&kp Q		      &kp W		&kp E		&kp R		&kp T			                 &kp Y	&kp U		&kp I		  &kp O		  &kp P
	&kp A	        &kp S	  &kp D	  &kp F	  &kp G			                 &kp H	&kp J	  &kp K	    &kp L	    &kp APOS
	&mt RSHFT Z		&kp X		&kp C		&kp V		&kp B			                 &kp N	&kp M		&kp COMMA	&kp DOT		&mt LSHFT FSLH
	&none	    &kp LGUI &lt RAISE SPACE	&kp TAB &kp RG(V) &kp LG(C)	 &lt RCTRL RET	 &lt RAISE BSPC &lt RALT	&none
			>;

			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp RIGHT LEFT>;
		};

		raise_layer {
/* NAVNUM
 *
 * ,----------------------------------.                      ,-----------------------------------.
 * |  1  |   2  |   3  |   4   |   5  |                      |   6  |   7  |   8  |   9  |   0   |
 * |-----+------+------+-------+------|                      |------+------+------+------+------ |
 * |  (  | Left |  Up  | Right |   )  |                      |   -  |   [  |   ]  |   \  |   `   |
 * |-----+------+------+-------+------|  ,-----.    ,-----.  |------+------+------+------+------ |
 * |Shift| Home | Down |  End  | Esc  |  |  ^  |    | cut |  |   ;  |   =  |Toggle|      | Shift |
 * `----------------------------------'  `-----'    `-----'  `-----------------------------------'
 *          ,-----.   ,-------------------.            ,--------------------.   ,-----. 
 *          |  ^  |   |  ^  | SPACE |  ^  |            |  ^  |   BS   |  ^  |   |  ^  |
 *          `-----'   `-------------------'            `--------------------'   `-----'
 */
			bindings = <
	&kp N1		  &kp N2	  &kp N3		&kp N4	  &kp N5					    &kp N6	   &kp N7	    &kp N8		  &kp N9		&kp N0
	&kp LPAR	  &kp LEFT	&kp UP	  &kp RIGHT &kp RPAR				    &kp MINUS	 &kp LBKT	  &kp RBKT		&kp BSLH	&kp GRAVE
	&kp LSHFT   &kp HOME	&kp DOWN	&kp END  	&kp ESC				      &kp SEMI	 &kp EQUAL	&to FUNCTION  &none 	&kp RSHFT
	&trans	    &trans	  &kp SPACE	&trans    &trans					    &kp LG(X)	 &trans	    &kp BSPC	  &trans  	&trans
			>;

			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp RIGHT LEFT>;
		};

		function_layer {
/* FUNC, TOGGLED ONLY
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |  F1  |  F2  |  F3  |  F4  |  F5  |                      |  F6  |  F7  |  F8  |  F9  |  F10 |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |  F11 |  F12 |  F13 |  F14 |outble|                      |  BT0 |  BT1 |  BT2 |  BT3 |  BT4 | 
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |      |      |      |      |      |  |     |    |     |  |Toggle|Toggle|Toggle|Toggle|Toggle|
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----. 
 *          |     |   |  ^  |   ^   |   ^  |            |   ^   |  ^ |   ^   |   |     |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */
			bindings = <
	&kp F1  &kp F2   &kp F3     &kp F4 	 	 &kp F5				&kp F6	&kp F7	&kp F8		&kp F9		&kp F10
	&kp F11 &kp F12  &kp F13    &kp F14    &out OUT_BLE        &bt BT_SEL 0	&bt BT_SEL 1	&bt BT_SEL 2	&bt BT_SEL 3	&bt BT_SEL 4
	&none	  &none	   &none	    &none    	 &none	      &to DEFAULT	 &to DEFAULT &to DEFAULT	&to DEFAULT	&to DEFAULT
	&none		&trans 	 &trans	    &trans	   &none				&none	&trans	&trans	&trans	&none
			>;

			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp RIGHT LEFT>;
		};	

	};
};